<body style="background-color: #fee8e7">
  <div class="container h-100 d-flex justify-content-center alignt-items-center">
    <div class="my-auto">
      <p class="h1">Iniciar Sesión</p>
      <form>
        <div class="form-group">
          <label for="email" style="margin-bottom: 1%">Correo Electrónico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            aria-describedby="emailHelp"
            placeholder="Ingrese su correo"
            [(ngModel)]="email"
          />
          <small id="emailHelp" class="form-text text-muted">No compartiremos tu correo electrónico con nadie.</small>
        </div>
        <div class="form-group">
          <label for="password" style="margin-bottom: 1%; margin-top: 2%">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña" [(ngModel)]="password" />
        </div>
        <div class="mt-2 mb-2">
          <a routerLink="/forgot-password" style="color: #e16f58; font-size: 13px;">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="form-group form-check" style="margin-top: 3%; margin-bottom: 3%">
          <input type="checkbox" class="form-check-input" id="rememberMe" />
          <label class="form-check-label" for="rememberMe">Recuérdame</label>
        </div>
        <div class="form-group mb-1" *ngIf="wrongCredentials">
          <label class="form-check-label" for="rememberMe" style="font-size: small; color: #a02108">Su correo o contraseña esta incorecta</label>
        </div>
        <div class="btnIniciarDiv">
          <button type="submit" class="btn btn-primary btnIniciar" (click)="onSubmit()">Iniciar</button>
          <div class="d-flex mt-4">
            <p style="margin-right: 5px;">¿No tienes cuenta? Registrate</p><a routerLink="/signup" style="color: #e16f58; font-size: 15px; display: block">Aqui</a>
          </div>
        </div>
        
      </form>
    </div>
  </div>
</body>
